AQUA_APP_NAME=Aquaculture Digital Twin Backend
AQUA_APP_VERSION=0.1.0
AQUA_ENVIRONMENT=local
AQUA_API_V1_PREFIX=/api/v1
AQUA_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/aquaculture_digital_twin
AQUA_ECHO_SQL=false
AQUA_LOG_LEVEL=INFO
AQUA_ENABLE_DOCS=true
